{% extends "class_template.html" %}

{% block class_tagline %}
A Nature Priest of Primal Power
{% endblock %}

{% block class_desc %}
Druids call on the forces of nature, harnessing magic to heal, transform into animals, and wield elemental destruction.
{% endblock %}

{% block class_ability %}
Wisdom
{% endblock %}

{% block class_hp %}
D8
{% endblock %}

{% block class_saves %}
Intelligence & Wisdom
{% endblock %}

{% block stats_form %}
<!-- TODO: Stats form for every class -->
{% endblock %}