{% extends "class_template.html" %}

{% block class_tagline %}
A Master of All Arms and Armor
{% endblock %}

{% block class_desc %}
Fighters all share an unparalleled prowess with weapons and armor, and are well acquainted with death, both meting it out and defying it. 
{% endblock %}

{% block class_ability %}
Strength or Dexterity
{% endblock %}

{% block class_hp %}
D10
{% endblock %}

{% block class_saves %}
Strength & Constitution
{% endblock %}

{% block character_form %}
<!-- TODO: Character creation form -->
{% endblock %}