{% extends "class_template.html" %}

{% block class_tagline %}
A Devout Warrior of Sacred Oaths
{% endblock %}

{% block class_desc %}
Paladins live on the front lines of the cosmic struggle, united by their oaths against the forces of annihilation. 
{% endblock %}

{% block class_ability %}
Strength & Charisma
{% endblock %}

{% block class_hp %}
D10
{% endblock %}

{% block class_saves %}
Wisdom & Charisma
{% endblock %}

{% block stats_form %}
<!-- TODO: Stats form for every class -->
{% endblock %}