{% extends "class_template.html" %}

{% block class_tagline %}
A Wandering Warrior Imbued with Primal Magic
{% endblock %}

{% block class_desc %}
Rangers are honed with deadly focus and harness primal powers to protect the world from the ravages of monsters and tyrants. 
{% endblock %}

{% block class_ability %}
Dexterity & Wisdom
{% endblock %}

{% block class_hp %}
D10
{% endblock %}

{% block class_saves %}
Strength & Dexterity
{% endblock %}

{% block character_form %}
<!-- TODO: Character creation form -->
{% endblock %}