{% extends "class_template.html" %}

{% block class_tagline %}
A Dexterous Expert in Stealth and Subterfuge
{% endblock %}

{% block class_desc %}
Rogues have a knack for finding the solution to just about any problem, prioritizing subtle strikes over brute strength. 
{% endblock %}

{% block class_ability %}
Dexterity
{% endblock %}

{% block class_hp %}
D8
{% endblock %}

{% block class_saves %}
Dexterity & Intelligence
{% endblock %}

{% block stats_form %}
<!-- TODO: Stats form for every class -->
{% endblock %}