{% extends "class_template.html" %}

{% block class_tagline %}
A Dazzling Mage Filled with Innate Magic
{% endblock %}

{% block class_desc %}
Sorcerers harness and channel the raw, roiling power of innate magic that is stamped into their very being. 
{% endblock %}

{% block class_ability %}
Charisma
{% endblock %}

{% block class_hp %}
D6
{% endblock %}

{% block class_saves %}
Constitution & Charisma
{% endblock %}

{% block character_form %}
<!-- TODO: Character creation form -->
{% endblock %}