{% extends "class_template.html" %}

{% block class_tagline %}
An Occultist Empowered by Otherworldly Pacts
{% endblock %}

{% block class_desc %}
Warlocks quest for knowledge that lies hidden in the fabric of the multiverse, piecing together arcane secrets to bolster their own power. 
{% endblock %}

{% block class_ability %}
Charisma
{% endblock %}

{% block class_hp %}
D8
{% endblock %}

{% block class_saves %}
Wisdom & Charisma
{% endblock %}

{% block stats_form %}
<!-- TODO: Stats form for every class -->
{% endblock %}