{% extends "class_template.html" %}

{% block class_tagline %}
A Scholarly Magic-User of Arcane Power
{% endblock %}

{% block class_desc %}
Wizards cast spells of explosive fire, arcing lightning, subtle deception, and spectacular transformations. 
{% endblock %}

{% block class_ability %}
Intelligence
{% endblock %}

{% block class_hp %}
D6
{% endblock %}

{% block class_saves %}
Intelligence & Wisdom
{% endblock %}

{% block stats_form %}
<!-- TODO: Stats form for every class -->
{% endblock %}