@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Grenze+Gotisch:wght@100..900&family=IM+Fell+English+SC&family=Rosarivo:ital@0;1&display=swap');

p {
    font-family: "Bellefair", serif;
}

h1, h2, h3, strong, button {
    font-family: "IM Fell English SC" !important;
}

button {
    background-color: #6F42C1 !important;
    border-color: #432874 !important;
    color: white !important;
}
button:hover {
    background-color: #8B67CD !important;
    border-color: #432874 !important;
    color: white !important;
    transform: scale(1.1);
}

#logo {
    max-height: 100px;
}
.card-img-top {
    max-height: 100px;
    padding-top: 10px;
}


/* Printable character sheet */
@media print {
    /* Hide the "Go Back" link and button during print */
    a, button {
        display: none;
    }

    /* Add some margins and adjust font size for a clean print layout */
    body {
        margin: 1in;
        font-size: 14px;
    }
}