<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>D&D Character Sheet</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body class="d-flex flex-column min-vh-100">
        <div class="container-fluid pt-4 mb-0 text-center" id="page-top">
            {% block page_heading %}{% endblock %}
        </div>
        <br>
        {% block page_content %}{% endblock %}
        <br>
        <footer class="container-fluid text-center mt-auto">
            <br>
            <img src="static/assets/Logo-DnD.svg" id="logo" class="img-fluid">
            <p>Coded by Katerina Walter &copy; 2025</p>
            <p class="small">Note that this generator is intended for BG3. Information from <a href="https://bg3.wiki/">Baldur's Gate 3 Wiki</a> and <a href="https://www.dndbeyond.com/">D&D Beyond</a>.</p>
        </footer>
    </body>
</html>