<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ class_name.capitalize() }}
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body class="d-flex flex-column min-vh-100">
        <div class="container-fluid pt-4 mb-0 text-center" id="page-top">
            <h1>{{ class_name.capitalize() }} Character Sheet</h1>
            <a href="{{ url_for('index') }}"><button class="btn btn-primary">⬅ Go Back</button></a>
        </div>
        <div class="container p-3" id="class-overview-container">
            <img src="/static/assets/scroll.png" class="img-fluid">
            <div class="overlay-text">
                <h3 class="text-nowrap">{% block class_tagline %}{% endblock %}</h3>
                <p>{% block class_desc %}{% endblock %}</p>
                <div class="row">
                    <div class="col"><strong>Ability: </strong>
                    <span>{% block class_ability %}{% endblock %}</span>
                    </div>
                    <div class="col"><strong>Hit Point Die: </strong>
                    <span>{% block class_hp %}{% endblock %}</span>
                    </div>
                    <div class="col"><strong>Saves: </strong>
                    <span>{% block class_saves %}{% endblock %}</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container p-3 rounded" id="form-container">
            <h2>Character Background</h2>
            <form action="/submit" method="POST">
                <div id="bgd-form-container">

                    <label for="name">Name: </label>
                    <input type="text" id="name" name="name" placeholder="Tav"required><br><br>

                    <label for="race">Race: </label>
                    <select id="race" name="race" required>
                        <option value="Dragonborn">Dragonborn</option>
                        <option value="Drow">Drow</option>
                        <option value="Dwarf">Dwarf</option>
                        <option value="Elf">Elf</option>
                        <option value="Githyanki">Githyanki</option>
                        <option value="Gnome">Gnome</option>
                        <option value="Half-Elf">Half-Elf</option>
                        <option value="Halfling">Halfling</option>
                        <option value="Half-Orc">Half-Orc</option>
                        <option value="Human">Human</option>
                        <option value="Tiefling">Tiefling</option>
                    </select><br><br>

                    <label for="background">Background: </label>
                    <select id="background" name="background" required>
                        <option value="Acolyte">Acolyte</option>
                        <option value="Charlatan">Charlatan</option>
                        <option value="Criminal">Criminal</option>
                        <option value="Entertainer">Entertainer</option>
                        <option value="Folk Hero">Folk Hero</option>
                        <option value="Guild Artisan">Guild Artisan</option>
                        <option value="Noble">Noble</option>
                        <option value="Outlander">Outlander</option>
                        <option value="Sage">Sage</option>
                        <option value="Soldier">Soldier</option>
                        <option value="Urchin">Urchin</option>
                        <!-- TODO: Haunted One (Dark Urge only) -->
                    </select><br><br>

                </div>

                <!-- TODO: Stats form for every class -->
                <h2>Character Abilities</h2>
                <p>WORK IN PROGRESS...</p>
                <div id="stats-form-container">
                    {% block stats_form %}{% endblock %}
                </div>

                <div id="submit-btn-container">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
        <br>
        <footer class="container-fluid text-center mt-auto">
            <br>
            <img src="/static/assets/Logo-DnD.svg" id="logo" class="img-fluid">
            <p>Coded by Katerina Walter &copy; 2025</p>
            <p class="small">Designed for BG3 builds. Information from <a href="https://bg3.wiki/">Baldur's Gate 3 Wiki</a> and <a href="https://www.dndbeyond.com/">D&D Beyond</a>.</p>
        </footer>
    </body>
</html>