{% extends "base_template.html" %}

{% block page_heading %}
<h1>Character Sheet Generator</h1>
<p>Select your <strong>class</strong> below.</p>
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="{{ url_for('class_page', class_name='barbarian') }}"><button class="btn btn-primary">Barbarian</button></a>
        </div>
        <div class="col">
            <a href="{{ url_for('class_page', class_name='bard') }}"><button class="btn btn-primary">Bard</button></a>           
        </div>
        <div class="col">
            <a href="{{ url_for('class_page', class_name='cleric') }}"><button class="btn btn-primary">Cleric</button></a>         
        </div>
        <div class="col">
            <a href="{{ url_for('class_page', class_name='druid') }}"><button class="btn btn-primary">Druid</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{{ url_for('class_page', class_name='fighter') }}"><button class="btn btn-primary">Fighter</button></a>
        </div>
        <div class="col">
            <a href="{{ url_for('class_page', class_name='monk') }}"><button class="btn btn-primary">Monk</button></a>
        </div>
        <div class="col">
            <a href="{{ url_for('class_page', class_name='paladin') }}"><button class="btn btn-primary">Paladin</button></a>
        </div>
        <div class="col">
            <a href="{{ url_for('class_page', class_name='ranger') }}"><button class="btn btn-primary">Ranger</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{{ url_for('class_page', class_name='rogue') }}"><button class="btn btn-primary">Rogue</button></a>
        </div>
        <div class="col">
            <a href="{{ url_for('class_page', class_name='sorcerer') }}"><button class="btn btn-primary">Sorcerer</button></a>
        </div>
        <div class="col">
            <a href="{{ url_for('class_page', class_name='warlock') }}"><button class="btn btn-primary">Warlock</button></a>
        </div>
        <div class="col">
            <a href="{{ url_for('class_page', class_name='wizard') }}"><button class="btn btn-primary">Wizard</button></a>
        </div>
    </div>
</div>
{% endblock %}