{% extends "base_template.html" %}

{% block page_heading %}
<h1>Character Sheet Generator</h1>
<p>Select your <strong>class</strong> below.</p>
{% endblock %}

{% block page_content %}
<div class="container" id="class-btn-container">
    <div class="row">
        <div class="col-md my-2">
            <a href="{{ url_for('class_page', class_name='barbarian') }}">
                <div class="card">
                    <img src="static/assets/ClassIcon-Barbarian.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn btn-primary w-100">Barbarian</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md my-2">
            <a href="{{ url_for('class_page', class_name='bard') }}">
                <div class="card">
                    <img src="static/assets/ClassIcon-Bard.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn btn-primary w-100">Bard</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md my-2">
            <a href="{{ url_for('class_page', class_name='cleric') }}">
                <div class="card">
                    <img src="static/assets/ClassIcon-Cleric.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn btn-primary w-100">Cleric</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md my-2">
            <a href="{{ url_for('class_page', class_name='druid') }}">
                <div class="card">
                    <img src="static/assets/ClassIcon-Druid.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn btn-primary w-100">Druid</button>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md my-2">
            <a href="{{ url_for('class_page', class_name='fighter') }}">
                <div class="card">
                    <img src="static/assets/ClassIcon-Fighter.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn btn-primary w-100">Fighter</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md my-2">
            <a href="{{ url_for('class_page', class_name='monk') }}">
                <div class="card">
                    <img src="static/assets/ClassIcon-Monk.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn btn-primary w-100">Monk</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md my-2">
            <a href="{{ url_for('class_page', class_name='paladin') }}">
                <div class="card">
                    <img src="static/assets/ClassIcon-Paladin.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn btn-primary w-100">Paladin</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md my-2">
            <a href="{{ url_for('class_page', class_name='ranger') }}">
                <div class="card">
                    <img src="static/assets/ClassIcon-Ranger.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn btn-primary w-100">Ranger</button>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md my-2">
            <a href="{{ url_for('class_page', class_name='rogue') }}">
                <div class="card">
                    <img src="static/assets/ClassIcon-Rogue.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn btn-primary w-100">Rogue</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md my-2">
            <a href="{{ url_for('class_page', class_name='sorcerer') }}">
                <div class="card">
                    <img src="static/assets/ClassIcon-Sorcerer.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn btn-primary w-100">Sorcerer</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md my-2">
            <a href="{{ url_for('class_page', class_name='warlock') }}">
                <div class="card">
                    <img src="static/assets/ClassIcon-Warlock.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn btn-primary w-100">Warlock</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md my-2">
            <a href="{{ url_for('class_page', class_name='wizard') }}">
                <div class="card">
                    <img src="static/assets/ClassIcon-Wizard.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <button class="btn btn-primary w-100">Wizard</button>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}