{% extends "base_template.html" %}

{% block page_heading %}
<h1>Character Sheet</h1>
{% endblock %}

{% block page_content %}

<div class="container" id="printable-area">
    <ul>
        <li><strong>Name: </strong> {{ user_data.name }}</li>
        <li><strong>Race: </strong> {{ user_data.race }}</li>
        <li><strong>Background: </strong> {{ user_data.background }}</li>
    </ul>
</div>

<div class="container">
    <button onclick="window.print()" class="btn btn-primary">Print Page</button>
</div>

<div class="container">
    <a href="{{ url_for('index') }}"><button class="btn btn-danger">Start Over</button></a>
</div>

{% endblock %}

